<div class=row style="padding: 10px;">
    <div class="col-xl-2">
    </div>
    Hiiiiii
    <div class="col-xl-10">
      <div class="row" *ngFor="">
        <div class="col-xl-9">
          <table>
            <tr>
              <td class="title"></td>
              <td class="textfont">
              </td>
            </tr>
  
            <tr>
              <td class="title">Product Description</td>
              <td class="textfont">
              </td>
            </tr>
  
            <tr>
              <td class="title">Product Price</td>
              <td class="textfont">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  